<!-- reload each minute -->
<configuration scan="true">

    <!-- console appender to log into out stream -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d %5p %50.50c{50}:%4L - %m%n</Pattern>
        </encoder>
    </appender>

    <!-- file appender -->
    <appender name="logfile" class="ch.qos.logback.core.FileAppender">
        <file>/var/log/tomcat/app-backend.log</file>
        <encoder>
            <Pattern>%d %5p %50.50c{50}:%4L - %m%n</Pattern>
        </encoder>
    </appender>

    <root level="WARN">
        <appender-ref ref="console" />
    </root>

    <logger name="org.visary.app_backend" level="WARN">
        <appender-ref ref="console" />
        <appender-ref ref="logfile" />
    </logger>

    <logger name="org.springframework" level="WARN">
        <appender-ref ref="console" />
    </logger>

    <logger name="org.springframework.transaction" level="WARN">
        <appender-ref ref="console" />
    </logger>

    <logger name="org.hibernate" level="WARN">
        <appender-ref ref="console" />
    </logger>
    <logger name="org.hibernate.type" level="WARN">
        <appender-ref ref="console" />
    </logger>
</configuration>